<% include header %>
<% include menu_bar %>
<% include menu_side %>
<div class="container-fluid">
    <div class="side-body">
      <div class="row">
        <div class="col-xs-12">
        <% include map %>
        </div>
      </div>
    </div>
</div>
<% include footer %>
