<% include header %>
<% include menu_bar %>
<% include menu_side %>
<div class="container-fluid">
  <div class="side-body">
    <div class="row">
      <div class="col-xs-12">
        <img src="/img/banner.png" class="img-responsive">
        dk
      </div>
    </div>
  </div>
</div>
<% include footer %>
