<% stuff = typeof stuff !== 'object' ? {} : stuff %>
<% include header %>
<% include menu_bar %>
<% include menu_side %>
<div class="container-fluid">
    <div class="side-body">
      <% if (stuff.type == 1) { %>
        <% include map/map_1 %>
      <% } else if(stuff.type == 8) { %>
        <% include map/map_8 %>
      <% } else if(stuff.type == 129) { %>
        <% include map/map_129 %>
      <% } else if(stuff.type == 2) { %>
        <% include map/map_2 %>
      <% } else if(stuff.type == 3) { %>
        <% include map/map_3 %>
      <% } else if(stuff.type == 6) { %>
        <% include map/map_6 %>
      <% } else if(stuff.type == 9) { %>
        <% include map/map_9 %>
      <% } else if(stuff.type == 13 || stuff.type == 23) { %>
        <% include map/map_3d %>
      <% } %>
    </div>
</div>
<% include footer %>
