<nav class="navbar navbar-inverse navbar-fixed-top navbar-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-expand-toggle">
                <i class="fa fa-bars icon"></i>
            </button>
            <ol class="breadcrumb navbar-breadcrumb">
                <li class="active">Map</li>
            </ol>
            <ul class="nav navbar-nav navbar-breadcrumb" style=" right: -100%; padding-right:-100%">
              <li class="dropdown">
                  <a class="dropdown-toggle icon" data-toggle="dropdown" role="button" aria-expanded="false">
                    <i class="material-icons icon">layers</i>
                    widget
                  </a>
                  <ul class="dropdown-menu animated fadeInDown">
                      <li style="color:black">
                          Notification
                      </li>
                      <li style="color:black">
                          No new notification
                      </li>
                  </ul>
              </li>
            </ul>
        </div>
        <!-- <div class="navbar-right"> -->
        <!-- <ul class="nav navbar-nav">
          <li class="dropdown">
              <a class="dropdown-toggle icon" data-toggle="dropdown" role="button" aria-expanded="false" style="width:60px; height:60px; top:1px">
                <i class="material-icons icon">layers</i>
              </a>
              <ul class="dropdown-menu animated fadeInDown">
                  <li class="title">
                      Notification <span class="badge pull-right">0</span>
                  </li>
                  <li class="message">
                      No new notification
                  </li>
              </ul>
          </li>
        </ul> -->
        <!-- </div> -->
    </div>
</nav>
