<div class="side-menu sidebar-inverse" >
    <nav class="navbar navbar-default" role="navigation">
        <div class="side-menu-container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <div class="icon fa fa-map"></div>
                    <div class="title">Agri Map</div>
                </a>
                <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                    <i class="fa fa-times icon"></i>
                </button>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">
                        <span class="material-icons icon">my_location</span> <span class="title">Select province</span>
                        <!-- <span class="fa fa-location-arrow icon"></span> <span class="title">Select province</span> -->
                    </a>
                </li>
                <!-- Dropdown-->
                <!-- <li class="panel panel-default dropdown">
                    <a data-toggle="collapse" href="#component-example">
                        <span class="icon fa fa-cubes"></span><span class="title">Components</span>
                    </a> -->
                    <!-- Dropdown level 1 -->
                    <!-- <div id="component-example" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li><a href="components/pricing-table.html">Pricing Table</a>
                                </li>
                                <li><a href="components/chartjs.html">Chart.JS</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li> -->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</div>
