<div class="row" >
  <div class="col-xs-12">
    <center>
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            <div class="title">เลือกจังหวัดที่ต้องการดูแผนที่</div>
          </div>
        </div>
        <div class="card-body">
          <!-- provice menu -->
          <div id="mapdiv" style="width: 100%; background-color:#EEEEEE; height:600px;"></div>
        </div>
      </div>
    </center>
  </div>
</div>
<script type="text/javascript" src="/ammap/ammap.js"></script>
<script type="text/javascript" src="/ammap/maps/js/thailandHigh.js"></script>
<script>
var map = AmCharts.makeChart("mapdiv",
  {
    "type": "map",
    "dataProvider":
    {
      "map": "thailandHigh",
      //getAreasFromMap: true,
      "areas": [
        { "id": "TH-14" },  //id Phra Na Khon Sri Ayutthaya
        { "id": "TH-22" },  //id Chanthaburi
        { "id": "TH-30" },  //id Nakhon rachasrima
        { "id": "TH-34" },  //id Ubon rachathani
        { "id": "TH-50" },  //id Chiang Mai
        { "id": "TH-41" },  //id Udonthani
        { "id": "TH-56" },  //id Phayao
        { "id": "TH-62" },  //id Kamphaeng Phet
        { "id": "TH-70" },  //id Ratchaburi
        { "id": "TH-96" },  //id Narathiwat
        { "id": "TH-84" },  //id Surat Thani
        { "id": "TH-92" }   //id Trang
      ]
    },
    // "autoDisplay" : true,
    // "dragMap":false,
  }
);
map.addListener("clickMapObject", function (event) {
  if (event.mapObject.id == "TH-22") {
    console.log("found Chanthaburi");
    window.location.assign('/shelfs/Chanthaburi');
  }
  if (event.mapObject.id == "TH-41") {
    console.log("found Udinthani");
    window.location.assign('/shelfs/Udonthani');
  }
  if (event.mapObject.id == "TH-14") {
    console.log("found Chanthaburi");
    window.location.assign('/shelfs/PhraNaKhonSriAyutthaya');
  }
  if (event.mapObject.id == "TH-30") {
    console.log("found Udinthani");
    window.location.assign('/shelfs/Nakhonrachasrima');
  }
  if (event.mapObject.id == "TH-34") {
    console.log("found Chanthaburi");
    window.location.assign('/shelfs/Ubonrachathani');
  }
  if (event.mapObject.id == "TH-50") {
    console.log("found Udinthani");
    window.location.assign('/shelfs/ChiangMai');
  }
  if (event.mapObject.id == "TH-56") {
    console.log("found Chanthaburi");
    window.location.assign('/shelfs/Phayao');
  }
  if (event.mapObject.id == "TH-62") {
    console.log("found Udinthani");
    window.location.assign('/shelfs/KamphaengPhet');
  }
  if (event.mapObject.id == "TH-70") {
    console.log("found Chanthaburi");
    window.location.assign('/shelfs/Ratchaburi');
  }
  if (event.mapObject.id == "TH-96") {
    console.log("found Udinthani");
    window.location.assign('/shelfs/Narathiwat');
  }
  if (event.mapObject.id == "TH-84") {
    console.log("found Chanthaburi");
    window.location.assign('/shelfs/SuratThani');
  }
  if (event.mapObject.id == "TH-92") {
    console.log("found Udinthani");
    window.location.assign('/shelfs/Trang');
  }
});
map.areasSettings = {
  selectable: true
};
</script>
