<div class="row" >
  <div class="col-xs-12">
    <center>
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            <div class="title">เลือกจังหวัดที่ต้องการดูแผนที่</div>
          </div>
        </div>
        <div class="card-body">
          <!-- provice menu -->
          <div id="mapdiv" style="width: 100%; background-color:#EEEEEE; height:600px;"></div>
        </div>
      </div>
    </center>
  </div>
</div>
<script type="text/javascript" src="/ammap/ammap.js"></script>
<script type="text/javascript" src="/ammap/maps/js/thailandHigh.js"></script>
<script>
var map = AmCharts.makeChart("mapdiv",
  {
    "type": "map",
    "dataProvider":
    {
      "map": "thailandHigh",
      //getAreasFromMap: true,
      "areas": [
        { "id": "TH-22" }, //id area Chanthaburi
        { "id": "TH-41" }  //id area Udonthani
      ]
    },
    // "autoDisplay" : true,
    // "dragMap":false,
  }
);
map.addListener("clickMapObject", function (event) {
  if (event.mapObject.id == "TH-22") {
    console.log("found Chanthaburi");
    window.location.assign('/shelfs/Chanthaburi');
  }
  if (event.mapObject.id == "TH-41") {
    console.log("found Udinthani");
    window.location.assign('/shelfs/Udinthani');
  }
});
map.areasSettings = {
  rollOverColor: "#009ce0" ,
  selectable: true
};
</script>
