<% stuff = typeof stuff !== 'object' ? {} : stuff %>
<% include header %>
<% include menu_bar %>
<% include menu_side %>
<div class="container-fluid">
  <div class="side-body">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <div class="title">แผนที่ขอบเขตทั่วไป</div>
            </div>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item ">
                แผนที่ขอบเขตการปกครอง <span class="badge"><a href="/map/<%- stuff.provice -%>/1" style="color:white;">เรียกดูแผนที่</a></span>
              </li>
              <li class="list-group-item disabled">
                แผนที่การใช้ที่ดิน <span class="badge"><a href="shelfs/Uttaradit" style="color:white;">เรียกดูแผนที่</a></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <div class="title">แผนที่ด้านดิน</div>
            </div>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item disabled">
                พื้นที่ปลูกข้าวในชั้นความเหมาะสมต่างๆ <span class="badge"><a href="shelfs/Uttaradit" style="color:white;">เรียกดูแผนที่</a></span>
              </li>
              <li class="list-group-item disabled">
                พื้นที่ปลูกอ้อยในชั้นความเหมาะสมต่างๆ <span class="badge"><a href="shelfs/Uttaradit" style="color:white;">เรียกดูแผนที่</a></span>
              </li>
              <li class="list-group-item disabled">
                พื้นที่ปลูกมันในชั้นความเหมาะสมต่างๆ <span class="badge"><a href="shelfs/Uttaradit" style="color:white;">เรียกดูแผนที่</a></span>
              </li>
              <li class="list-group-item disabled">
                พื้นที่ปลูกยางในชั้นความเหมาะสมต่างๆ <span class="badge"><a href="shelfs/Uttaradit" style="color:white;">เรียกดูแผนที่</a></span>
              </li>
              <li class="list-group-item disabled">
                พื้นที่ดินมีปัญหา<span class="badge"><a href="shelfs/Uttaradit" style="color:white;">เรียกดูแผนที่</a></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <div class="title">แผนที่ด้านน้ำ</div>
            </div>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item disabled">
                แผนที่แหล่งน้ำผิวดิน <span class="badge"><a href="shelfs/Uttaradit" style="color:white;">เรียกดูแผนที่</a></span>
              </li>
              <li class="list-group-item disabled">
                แผนที่แหล่งน้ำใต้ดิน <span class="badge"><a href="shelfs/Uttaradit" style="color:white;">เรียกดูแผนที่</a></span>
              </li>
              <li class="list-group-item disabled">
                แผนที่โครงการพัฒนาแหล่งน้ำ <span class="badge"><a href="shelfs/Uttaradit" style="color:white;">เรียกดูแผนที่</a></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <div class="title">แผนที่ด้านพืช</div>
            </div>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item disabled">
                พื้นที่ปลูกพืชเศรษฐกิจ 4 ชนิด <span class="badge"><a href="shelfs/Uttaradit" style="color:white;">เรียกดูแผนที่</a></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <div class="title">แผนที่ระบบจัดการส่งสินค้าเกษตร</div>
            </div>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item disabled">
                แผนที่โรงงานอุตสาหกรรม แหล่งรับซื้อ และ สหกรณ์การเกษตร <span class="badge"><a href="shelfs/Uttaradit" style="color:white;">เรียกดูแผนที่</a></span>
              </li>
              <li class="list-group-item disabled">
                แผนที่ตั้งโรงงานด้านการเกษตร <span class="badge"><a href="shelfs/Uttaradit" style="color:white;">เรียกดูแผนที่</a></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <div class="title">แผนที่ด้านประมง</div>
            </div>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item disabled">
                แผนที่โรงงานอุตสาหกรรม แหล่งรับซื้อ และ สหกรณ์การเกษตร <span class="badge"><a href="shelfs/Uttaradit" style="color:white;">เรียกดูแผนที่</a></span>
              </li>
              <li class="list-group-item disabled">
                แผนที่ตั้งโรงงานด้านการเกษตร <span class="badge"><a href="shelfs/Uttaradit" style="color:white;">เรียกดูแผนที่</a></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <div class="title">แผนที่เกษตรกร</div>
            </div>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item disabled">
                ครัวเรือนเกษตรกร รายได้ และ หนี้สิน <span class="badge"><a href="shelfs/Uttaradit" style="color:white;">เรียกดูแผนที่</a></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include footer %>
