<ul class="nav navbar-nav navbar-breadcrumb" style=" right: -100%; padding-right:-100%">
  <li class="dropdown">
      <a class="dropdown-toggle icon" data-toggle="dropdown" role="button" aria-expanded="false">
        <i class="material-icons icon">layers</i>
        widget
      </a>
      <ul class="dropdown-menu animated fadeInDown">
          <li style="color:black">
              Notification
          </li>
          <li style="color:black">
              No new notification
          </li>
      </ul>
  </li>
</ul>
